# .NET build artifacts
bin/
obj/
publish/
*.exe
*.user
*.suo
*.cache
*.log
*.nupkg
*.vs/
*.DotSettings
*.csproj.user
*.dll
*.pdb

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo
